<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
</head>
<body>
    <%- include('partials/header') %>

    <div id="app" class="container d-flex flex-column align-items-center">
        <div class="container d-flex justify-content-center text-center border rounded p-3 mt-5">
            <!-- 1.step gamemode -->
            <div class="row row-cols-2 g-2 justify-content-start" v-show="gamemodeStep === 0">
                <div class="col">
                    <button class="btn btn-primary btn-lg">Solo</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-lg">vs AI</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-lg">vs Player</button>
                </div>
            </div>

            <!-- 2.step submode -->
            <div class="row row-cols-2 g-2 justify-content-start" v-show="gamemodeStep === 1">
                <div class="col">
                    <button class="btn btn-primary btn-lg">Kanji only</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-lg">Hiragana only</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-lg">Katakana only</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-lg">Hiragana and katakana</button>
                </div>
            </div>
            <!-- 3.step difficulty -->
             <div class="row row-cols-2 g-2 justify-content-start" v-show="gamemodeStep === 2">
                <div class="col">
                    <button class="btn btn-primary btn-lg">N5</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-lg">N4</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-lg">N3</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-lg">N2</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-lg">N1</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-lg">Tensai</button>
                </div>
            </div>
            
        </div>
    </div>

</body>

<script src="./app.js"></script>

</html>